/* =========================================
   TYPOGRAPHY SYSTEM
   Based on Design System 16px Base
   ========================================= */

:root {

  --font-size-h1:     3.000rem; /* 48px */
  --font-size-h2:     2.500rem; /* 40px */
  --font-size-h3:     2.062rem; /* 33px */
  --font-size-h4:     1.750rem; /* 28px */
  
  --font-size-title:  1.438rem; /* 23px */
  
  --font-size-body-1: 1.188rem; /* 19px */
  --font-size-body-2: 1.000rem; /* 16px (Base) */
  
  --font-size-desc-1: 0.812rem; /* 13px */
  --font-size-desc-2: 0.688rem; /* 11px */

  /* Line Height (ระยะห่างบรรทัดมาตรฐาน) */
  --line-height-heading: 1.2;
  --line-height-body:    1.6;
}