@import url("./abstracts/design-tokens.css");
@import url("./abstracts/typography.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* =========================================
   RESPONSIVE BREAKPOINTS (Strict Mode)
   ========================================= */

@media screen and (max-width: 767px) {
  /* ใส่ CSS สำหรับมือถือที่นี่ */
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* ใส่ CSS สำหรับแท็บเล็ตที่นี่ */
}

@media screen and (min-width: 1024px) {
  /* ใส่ CSS สำหรับเดสก์ท็อปที่นี่ */
  .container-login-page{
    max-width: 100vw;
    max-height: 100vh;
    background-color: var(--color-secondary);
    overflow: hidden;
  }

  .container-login-section{
    width: 36%;
    height: 100vh;
    background-color: var(--color-neutral-lightest);
    box-shadow: 2px 0 4px 4px var(--color-neutral-lightest);
  }
  
  .container-notification-section{
    width: 64%;
    height: 100vh;
    background: linear-gradient(270deg , var(--rgb-secondary-light) , var(--rgb-primary-deep));  
  }

 
}